{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Reset Password') }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.repeat_password.label(class="form-label") }}
            {{ form.repeat_password(class="form-control") }}
            {% for error in form.repeat_password.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}
