{% extends "base.html" %}

{% block title %}{{ _('About Ecobank') }}{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ _('About Ecobank') }}</h2>
    <p class="lead">{{ _('Ecobank is a decentralized finance hub built on the Hive blockchain.') }}</p>
    <p>{{ _('Our mission is to provide users with a seamless and accessible platform to engage with the Hive ecosystem, offering features such as account creation, content publishing, and group collaboration.') }}</p>
    <p>{{ _('We aim to simplify the complexities of blockchain technology, making it easier for everyone to participate in the decentralized web.') }}</p>
{% endblock %}
