{% extends "base.html" %}

{% block title %}{{ _('About Ecobank') }}{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ _('About Ecobank') }}</h2>
    <p class="lead">{{ _('Ecobank is a community of people who believe that conscious action can make the world a better
        place.') }}</p>
    <p>{{ _('We have created a series of tools to use cutting edge technology for sharing and storage, and want to share it
        with all positive-minded people in the world!') }}</p>
    <p>{{ _('Our aim to simplify the complexities of modern, decentralized technology, making it easier for everyone to
        participate in decentralization, making the world a better place.') }}</p>
{% endblock %}